<div class="text-bluegray-900 mb-2">
    <p class="tahoma text-2xl -mb-1 font-bold sm:text-center md:text-center xl:text-left lg:text-left">
        EDUCACIÓN
    </p>
    <hr class="text-2xl">
</div>

<div *ngFor="let i of eeducacionList" class="-mb-1 grid">
    <div class="xl:col-2 lg:col-2 md:col-1 sm:col-1 sm:plus girar:plus md:w-1 sm:w-1 xl:-mr-1 lg:-mr-1 sm:-mr-6 md:-mr-6 sm:ml-2 md:ml-2">
        <i class="pi pi-plus-circle text-3xl"></i>
    </div>
    <div class="xl:-mt-3 lg:-mt-3 xl:col-10 lg:col-10 sm:col-12 sm:col-12">
        <div class="sm:text-center xl:text-left  ">
            <p class="tahoma text-bluegray-900 text-1xl ">
                <span class="font-bold"> {{i.titulo}} &nbsp;</span>
                <span class="tahoma text-bluegray-400 text-1xl ">
                        / {{i.anio}}
                    </span>
            </p>

        </div>
        <p class="text-bluegray-800 text-center tahoma font-medium -mb-25 sm:text-center xl:text-left" *ngFor="let e of i.cuerpo">
            {{e}}
        </p>
    </div>
</div>