<div class="text-bluegray-900">
    <p class="tahoma text-2xl  -mb-1 font-semibold">
        DEVELOPMENT STACK
    </p>
    <hr class="text-2xl">
</div>
<div class="text-bluegray-800  grid">
    <div class="col-12 -mt-3 grid">
        <p class="tahoma text-bluegray-900 text-1xl font-bold col-3">
            JAVA
        </p>
        <div class=" grid col-9 circulo bg-bluegray-200 h-2rem mt-3">
            <div class=" grid col-12 circulo bg-bluegray-900  h-2rem ">
                <p class=" col-12 tahoma text-bluegray-100 text-center -mt-2">
                    5 años
                </p>
            </div>
        </div>
    </div>



    <div class="col-12 -mt-5 grid">
        <p class="tahoma text-bluegray-900 text-1xl font-bold col-3">
            ORACLE
        </p>
        <div class=" grid col-9 circulo bg-bluegray-200 h-2rem mt-3">
            <div class=" grid col-12 circulo bg-bluegray-900  h-2rem ">
                <p class=" col-12 tahoma text-bluegray-100 text-center -mt-2">
                    5 años
                </p>
            </div>
        </div>
    </div>

    <div class="col-12 -mt-5 grid">
        <p class="tahoma text-bluegray-900 text-1xl font-bold col-3">
            SQL
        </p>
        <div class=" grid col-9 circulo bg-bluegray-200 h-2rem mt-3">
            <div class=" grid col-12 circulo bg-bluegray-900  h-2rem ">
                <p class=" col-12 tahoma text-bluegray-100 text-center -mt-2">
                    5 años
                </p>
            </div>
        </div>
    </div>

    <div class="col-12 -mt-5 grid">
        <p class="tahoma text-bluegray-900 text-1xl font-bold col-3">
            HTML & CSS
        </p>
        <div class=" grid col-9 circulo bg-bluegray-200 h-2rem mt-3">
            <div class=" grid col-8 circulo bg-bluegray-900  h-2rem ">
                <p class=" col-12 tahoma text-bluegray-100 text-center -mt-2">
                    3 años
                </p>
            </div>
        </div>

    </div>

    <div class="col-12 -mt-5 grid">
        <p class="tahoma text-bluegray-900 text-1xl font-bold col-3">
            JAVASCRIPT
        </p>
        <div class=" grid col-9 circulo bg-bluegray-200 h-2rem mt-3">
            <div class=" grid col-8 circulo bg-bluegray-900  h-2rem ">
                <p class=" col-12 tahoma text-bluegray-100 text-center -mt-2">
                    3 años
                </p>
            </div>
        </div>

    </div>

    <div class="col-12 -mt-5 grid">
        <p class="tahoma text-bluegray-900 text-1xl font-bold col-3">
            ANGULAR
        </p>
        <div class=" grid col-9 circulo bg-bluegray-200 h-2rem mt-3">
            <div class=" grid col-5 circulo bg-bluegray-900  h-2rem ">
                <p class=" col-12 tahoma text-bluegray-100 text-center -mt-2">
                    2 años
                </p>
            </div>
        </div>

    </div>

    <div class="col-12 -mt-5 grid">
        <p class="tahoma text-bluegray-900 text-1xl font-bold col-3">
            GIT
        </p>
        <div class=" grid col-9 circulo bg-bluegray-200 h-2rem mt-3">
            <div class=" grid col-10 circulo bg-bluegray-900  h-2rem ">
                <p class=" col-12 tahoma text-bluegray-100 text-center -mt-2">
                    4 años
                </p>
            </div>
        </div>

    </div>

    <div class="col-12 -mt-5 grid">
        <p class="tahoma text-bluegray-900 text-1xl font-bold col-3">
            WEBLOGIC
        </p>
        <div class=" grid col-9 circulo bg-bluegray-200 h-2rem mt-3">
            <div class=" grid col-8 circulo bg-bluegray-900  h-2rem ">
                <p class=" col-12 tahoma text-bluegray-100 text-center -mt-2">
                    3 años
                </p>
            </div>
        </div>

    </div>

    <div class="col-12 -mt-5 grid">
        <p class="tahoma text-bluegray-900 text-1xl font-bold col-3">
            LINUX
        </p>
        <div class=" grid col-9 circulo bg-bluegray-200 h-2rem mt-3">
            <div class=" grid col-10 circulo bg-bluegray-900  h-2rem ">
                <p class=" col-12 tahoma text-bluegray-100 text-center -mt-2">
                    4 años
                </p>
            </div>
        </div>

    </div>

    <div class="col-12 -mt-5 grid">
        <p class="tahoma text-bluegray-900 text-1xl font-bold col-3">
            WINDOWS SERVER
        </p>
        <div class=" grid col-9 circulo bg-bluegray-200 h-2rem mt-3">
            <div class=" grid col-3 circulo bg-bluegray-900  h-2rem ">
                <p class=" col-12 tahoma text-bluegray-100 text-center -mt-2">
                    1 año
                </p>
            </div>
        </div>

    </div>

</div>