<div class=" bg-bluegray-900 border-bluegray-800  border-3 border-round  grid ">
    <div class="col-12">
        <div class="col-12 ">

        </div>
        <div class="col-12 ">

        </div>
        <div class="col-12 grid ">
            <div class=" flex lg:col-1 xl:col-1 sm:col-12 md:col-12 ">
                <div class="cuadradoSombra sm:col-offset-4 md:col-offset-5">
                    <div class="border-circle bg-bluegray-800  pt-2 pb-2 pr-2 pl-2">
                        <div class=" circulo border-circle bg-bluegray-700 pt-2 pb-2 pr-2 pl-2">
                            <!-- <img src="CV/assets/Mario.png" class="circulo" alt="primeflex">-->
                            <img src="..\assets\Mario.png" class="circulo" alt="primeflex">
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg:pl-7 xl:pl-6"></div>
            <div class=" text-bluegray-50 lg:col-3 xl:col-4 sm:col-12 md:col-12 lg:ml-3 xl:ml-3 xl:text-left lg:text-left sm:text-center md:text-center">
                <p class=" tahoma -mb-1 text-2xl">Mario René Estrada Sobalvarro</p>
                <p class="tahoma ">Analista & Programador</p>
            </div>
            <div class=" sm:-mt-5 md:-mt-5  text-bluegray-300 lg:col-3 xl:col-3 sm:col-12 md:col-12  xl:text-left lg:text-left sm:text-center md:text-center">
                <p class="tahoma mt-4 mb-4  xl:mt-7 lg:mt-7"> <i class="pi pi-mobile"></i> +502 35708405</p>
                <p class="tahoma"> <i class="pi pi-envelope"></i> esmariorene@gmail.com</p>
            </div>
            <div class=" sm:-mt-5 md:-mt-5 text-bluegray-300 lg:col-3 xl:col-3 sm:col-12 md:col-12  xl:text-left lg:text-left sm:text-center md:text-center">
                <p class="tahoma mt-4 mb-4 xl:mt-7 lg:mt-7"> <i class="pi pi-linkedin"></i> linkedin.com/in/mariorenee
                </p>
                <p class="tahoma"> <i class="pi pi-github"></i> github.com/Woland1993</p>
            </div>
        </div>
        <div class="col-12 ">

        </div>

    </div>
</div>