<div class="grid align-items-center justify-content-center grid">
    <div class="sm:col-12 full-mil hoja grid shadow-8">
        <app-banner class="lg:col-12 xl:col-12 sm:col-12 md:col-12 "></app-banner>
        <div class=" grid flex-column  xl:ml-4 xl:mr-5 lg:col-5 xl:col-5 sm:col-12 md:col-12 ">
            <app-objetivo class="lg:col-12 xl:col-12 sm:col-12 md:col-12  " [cuerpo]="objetivo.cuerpo"></app-objetivo>
            <app-experiencia class="lg:col-12 xl:col-12 sm:col-12 md:col-12 " [experienciaList]="experienciaList"></app-experiencia>
        </div>
        <div class=" grid flex-column   xl:pl-4 xl:pr-5 lg:col-6 xl:col-6 sm:col-12 md:col-12 ">
            <app-educacion class="lg:col-12 xl:col-12 sm:col-12 md:col-12 xl:ml-5" [eeducacionList]="educacionList"></app-educacion>
            <app-stack-desarrollo class="lg:col-12 xl:col-12 sm:col-12 md:col-12 xl:m-5"></app-stack-desarrollo>
        </div>
        <div class=" grid flex-column  xl:ml-4 xl:mr-5 lg:col-5 xl:col-5 sm:col-12 md:col-12 ">
            <app-skills class="lg:col-12 xl:col-12 sm:col-12 md:col-12 "></app-skills>
        </div>
        <div class="grid xl:col-12 ">
            <app-menubar>

            </app-menubar>
        </div>
    </div>
</div>