<div class="md:max-w-full sm:max-w-full  cuerpo ">
    <app-banner></app-banner>
    <div class="grid hoja">
        <div class="col-1 -mr-5"></div>
        <div class="col-5">
            <app-objetivo [cuerpo]="objetivo.cuerpo"></app-objetivo>
        </div>
        <div class="col-1 -mr-5"></div>
        <div class="col-5">
            <app-educacion [eeducacionList]="educacionList">
            </app-educacion>
        </div>
        <div class="col-1 -mr-5 "></div>
        <div class="col-5 -mt-8">
            <app-experiencia [experienciaList]="experienciaList"></app-experiencia>
        </div>
        <div class="col-1 -mr-5"></div>
        <div class="col-5">
            <app-stack-desarrollo></app-stack-desarrollo>
        </div>
        <div class="col-1 -mr-5"></div>
        <div class="col-5 -mt-8">
            <app-skills></app-skills>
        </div>
        <div class="col-1 -mr-5"></div>
        <div class="col-1"></div>
    </div>
</div>