<div class="flex align-items-center justify-content-center grid">
    <div class=" full-mil hoja grid shadow-8">
        <app-banner class="lg:col-12 xl:col-12 sm:col-12 md:col-12 "></app-banner>
        <div class=" grid xl:pl-6 xl:pr-1 lg:col-12 xl:col-12 sm:col-12 md:col-12 ">
            <app-objetivo class="lg:col-4 xl:col-5 sm:col-12 md:col-12 xl:mr-5" [cuerpo]="objetivo.cuerpo"></app-objetivo>
            <app-educacion class="lg:col-4 xl:col-6 sm:col-12 md:col-12 xl:ml-5" [eeducacionList]="educacionList"></app-educacion>
            <app-experiencia class="lg:col-4 xl:col-5 sm:col-12 md:col-12 xl:mr-5" [experienciaList]="experienciaList"></app-experiencia>
            <app-stack-desarrollo class="lg:col-4 xl:col-6 sm:col-12 md:col-12 xl:ml-5"></app-stack-desarrollo>
            <app-skills class="lg:col-4 xl:col-5 sm:col-12 md:col-12 xl:mr-5"></app-skills>
        </div>
        <div class="grid xl:col-12 ">
            <app-menubar>

            </app-menubar>
        </div>
    </div>
</div>