<div>
    <div class="text-bluegray-900">
        <p class="tahoma text-2xl -mb-1 font-semibold">
            EXPERIENCIA LABORAL
        </p>
        <hr class="text-2xl">
    </div>

    <div *ngFor="let i of experienciaList" class=" grid ml-3">
        <div class="col-1 -mt-8">
            <h1 class="text-7xl ">.</h1>
            <div class="vl -mt-7 ml-2"></div>
        </div>
        <div class="col-10">
            <div class="grid -mb-4 text-justify">
                <p class="tahoma text-bluegray-900 text-1xl font-bold">
                    {{i.titulo}} &nbsp;
                </p>
                <p class="tahoma text-bluegray-400 text-1xl">
                    / {{i.anio}}
                </p>
            </div>
            <p class="text-bluegray-800 text-justify tahoma font-medium ">
                {{i.cuerpo}}
            </p>
        </div>
    </div>
</div>